:root{
    --darkGreen: #208767;
    --lightGreen: #3ED37D;
    --sBlack: #241239;
    --sGrey: #5C5362;
    --offWhite: #F9F9F9;
    --lightYellow:rgb(246, 255, 118);
    --numberOfLists:1;
    --portraitTemplateAreas: none;
}

/*The below is for the home page*/
#homeContainer{
    display: grid;
    grid-template: repeat(3,calc(calc(var(--vh, 1vh) * 97.5)/ 3)) / 10vw 80vw 10vw;
    justify-content: center;
    place-items: center;
    font-size: calc(calc(var(--vh, 1vh) * 100)/15);
    text-align: center;
    font-family: Helvetica, 'Akzidenz Grotesk', Univers, 'FF Bau', 'ARS Maquette', 'Proxima Nova', National, 'Neue Montreal';
}

#Welcome{
    font-size: calc(var(--vh, 1vh) * 10); 
}

#beginPlanButton{
    display:none;
    font-size: calc(var(--vh, 1vh) * 9);
    border: 2px solid black;
    padding: calc(var(--vh, 1vh) * 2) 4vw;
    cursor: pointer;
    border-radius: min(2vw, calc(var(--vh, 1vh) * 2));
    background-color:var(--darkGreen);
    color:var(--offWhite);
}

.options{
    display: grid;
    grid-template-columns: repeat(3, calc(80vw/ 3 ));
}

.centeredHomePageItem{
    display:grid;
    place-items: center;
}

.optionUnclicked{
    font-size: calc(var(--vh, 1vh) * 4);
    border: 2px solid black;
    padding: calc(var(--vh, 1vh) * 4) 4vw;
    cursor: pointer;
    border-radius: min(2vw, calc(var(--vh, 1vh) * 2));
}

.optionClicked{
    font-size: calc(var(--vh, 1vh) * 2);
    border: 2px solid rgb(0, 0, 0);
    padding: calc(var(--vh, 1vh) * 4) 4vw;
    cursor: pointer;
    border-radius: min(2vw, calc(var(--vh, 1vh) * 2));
}

#meijer{
    color:blue;
    background-color:white;
    font-weight: bold;
}
#target{
    background-color:crimson;
    color:white;
    font-weight: bold;
    padding: calc(var(--vh, 1vh) * 4) 4.2vw;
}
#amazon{
    background-color:black;
    color:rgb(226, 217, 90);
    font-weight: bold;
    padding: calc(var(--vh, 1vh) * 4) 2.7vw;
}

/* The below is for the calendar page*/
#planPage{
    display: none;
    flex-direction: column;
    font-family: 'Oswald Regular', Helvetica, 'Akzidenz Grotesk', Univers, 'FF Bau', 'ARS Maquette', 'Proxima Nova', National, 'Neue Montreal';
}

#plan{
    display: flex;
    flex-direction: row;
    /*overflow: auto;*/
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    border: min(1px,calc(var(--vh, 1vh) * 1));
    border-style: solid none;
    border-color:var(--sBlack);
    font-size: min(calc(var(--vh, 1vh) * 4),4vw);
    background-color: var(--darkGreen);
    color:var(--offWhite);
}

.course{
    display: grid;
    align-items: center;
    font-family: lato;
    padding: calc(var(--vh, 1vh) * .2) .2vw;
    background-color:var(--offWhite);
    border: min(.05vw,calc(var(--vh, 1vh) * .05));
    cursor: pointer;
    border-radius:min(1.5vw, calc(var(--vh, 1vh) * 1.5));
    height: 94%;
    width: 98%;
    color: var(--sGrey);
}

.snack{
    justify-content: center;
    align-items: center;
    border: min(.05vw,calc(var(--vh, 1vh) * .05));
    border-color: solid var(--sBlack);
    padding: calc(var(--vh, 1vh) * .2) .2vw;
    background-color:var(--lightYellow);
    cursor: pointer;
    height: 94%;
    width: 98%;
    color: var(--sGrey);
    border-radius:min(1.5vw, calc(var(--vh, 1vh) * 1.5));
    font-family: lato;
}

.mealWith1Courses{
    display: grid;
    align-items:center;
    grid-template-rows: 100%;
    grid-template-columns: 100%;
    border: 1px;
    border-style: solid none;
    border-color:var(--darkGreen);
    background-color:var(--lightGreen);
}

.mealWith2Courses{
    display: grid;
    align-items:center;
    grid-template-rows: 50%;
    grid-template-columns: 100%;
    border: 1px;
    border-style: solid none;
    border-color:var(--darkGreen);
    background-color:var(--lightGreen);
}

.mealWith3Courses{
    display: grid;
    grid-template-rows: 33%;
    grid-template-columns: 100%;
    border: 1px;
    border-style: solid none;
    border-color:var(--darkGreen);
    background-color:var(--lightGreen);
    
}

.calendar{
    display: grid;
    grid-template: 5vh repeat(3, calc(calc(var(--vh, 1vh) * 86)/3)) / 3vw 1fr 1fr 1fr 1fr;
    width: 100%;
}

.SnackTitle{
    color:var(--lightYellow);
}


#loadingGif{
    display:none;
    grid-template-rows: 100vh;
    grid-template-columns: 100vw;
    justify-content: center;
    align-items: center;
}

/*the ruler is for the font sizing of the calendar page*/
#ruler { 
    visibility: hidden; 
    white-space: nowrap; 
}

/*The below is for the nav bar*/
#calendarToListToggler{
    display: flex;
    height: calc(var(--vh, 1vh) * 7);
    font-size: calc(var(--vh, 1vh) * 5);
    cursor: pointer;
    width:100%;
    text-align:center;
    align-items: center;
    color: var(--sBlack);
    border-style:inset;
    position: fixed;
    bottom: 0;
}

.viewOpen{
    background-color:var(--darkGreen);
    flex-grow: 1;
}

.viewClosed{
    background-color:none;
    flex-grow: 1;   
}

/*The below is for the list page*/
#list{
    display:none;
    height:calc(var(--vh, 1vh) * 90);
    width:100%;
    
}

.listSection{
    overflow-wrap:break-word;
    flex-basis:100%;
    padding: 2vw;
}

.listTitle{
    font-size: calc(var(--vh, 1vh) * 5);
    padding: 2vw;
}

.listItem{
   font-size: calc(calc(var(--vh, 1vh) * 2.2) + calc(var(--vh, 1vh) * .2)*var(--numberOfLists)); 
}

#errorPage{
    display: none;
    font-size:calc(var(--vh, 1vh) * 20);
    align-content: center;
    justify-content: center;

}

/*Below is for any case where the height of the viewport is more than the width of the viewport*/
@media only screen and (orientation: portrait){
    /*The below is for the home page in portrait mode*/
    #homeContainer{
        grid-template: calc(var(--vh, 1vh) * 23) calc(var(--vh, 1vh) * 15) calc(var(--vh, 1vh) * 60) / 10vw 80vw 10vw;
        font-size: min(calc(var(--vh, 1vh) * 5),7vw);
    }
    #userPrompt{
        height: calc(var(--vh, 1vh) * 15);
    }
    #Welcome{
        font-size: min(calc(var(--vh, 1vh) * 7),9vw);
        display:grid;
        place-items: center;
    }

    #beginPlanButton{
        font-size: min(calc(var(--vh, 1vh) * 7),9vw);
        padding: calc(var(--vh, 1vh) * 1) 4vw;
    }

    .options{
        grid-template-columns: 80vw;
        grid-template-rows: repeat(3, calc(var(--vh, 1vh) * 20)); 
        
    }
    #target{
        padding: calc(var(--vh, 1vh) * 3) 4.2vw;
    }
    .optionClicked{
        padding: calc(var(--vh, 1vh) * 3) 3vw;
    }
    #amazon{
        padding: calc(var(--vh, 1vh) * 3) 2.3vw;
    }

    /*The below is for the calendar page in portrait mode*/
    .calendar{
        grid-template: calc(var(--vh, 1vh) * 2) repeat(4,1fr) / 5vw repeat(3, 1fr);
        grid-auto-flow: column;
        height:calc(var(--vh, 1vh) * 93);
        
    }
    .mealWith1Courses{
        grid-template-rows: 100%;
    }
    .mealWith2Courses{
        grid-template-rows: 50%;
    }
    .mealWith3Courses{
        grid-template-rows: 33%;
    }
    
    .title{
        font-size: min(calc(var(--vh, 1vh) * 3),3vw);
        writing-mode: vertical-lr;
        text-orientation: upright;
    }

    /*The below is for the nav bar in portrait mode*/
    #calendarToListToggler{
        height: calc(var(--vh, 1vh) * 6);
        font-size: calc(var(--vh, 1vh) * 4);
    }

    
    /*The below is for the list page in portrait mode*/
    #list{
        flex-direction: column;
        height:calc(var(--vh, 1vh) * 92);
    }
    .listTitle{
        padding: 1vw;
    }
    .listItem{
        font-size: calc(var(--vh, 1vh) * 2); 
     }
     .listSection{
        width: 100%;
        padding: 3vw;
    }


}